.banner--homepage {
    max-width: 300px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: $color-secundario;
    color: $color-claro;
    h3 {
        margin-bottom: 15px;
        @include font-size(20px);
        @include titulos($Fuente2);
    }
    .button {
        margin-top: 20px;
        padding: 10px;
        height: 50px;
        border: 2px solid $color-claro;
        @include font-size(18px);
        @include titulos($Fuente2);
    }
}